*{
    box-sizing: border-box;
}
main{
    
    padding-top: 30px;
    margin-bottom: 30px;
}
.body{
    background-color: #f1f1f1c1;
}
img{
    max-width: 100%;
}
.part>ul>li>h6>a{
    text-decoration: none;
    color: #000;
}
.part>ul>li>ul>li>a:hover{
    text-decoration: underline;
    color: rgba(255, 0, 0, 0.721);

}
.part>ul>li>ul>li>a{
    text-decoration: none;
    color: #000;

}

h6:hover{
    text-decoration: underline;
}
.bg-white{
    background-color: #fff;

}
.search-bar{
    width: 200px;
    height: 40px;
    border: solid 2px black;
    border-radius: 10px;
    margin-left: 0;
}
.nav1{
    height: 40px;
    background-color: rgba(255, 0, 0, 0.721);
}
.nav-item>a:hover{
    color: red;
}
.dropdown-menu>li>a:hover{
    color: #fff;
    background-color: rgba(255, 0, 0, 0.721);
}
.part{

    padding: 20px;
    background-color:#fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
header{
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);

}

nav{
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);

}

.title-part{
    width: 350px;
}
.title-part:hover{
    
    color: red;
}

footer{
    color: white;
}

.atik{
    margin-bottom: 20px;
    
    
}

.footer-first{
    height: 100px;
    background-color: rgba(255, 0, 0, 0.721);

}
.atik:hover{
    border: solid 1px red;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    margin-top: 10px;
    margin-bottom: 1px;
    
}
.part:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

}
